.plot{
fill: #fff;
}
.axis path,
.axis line {
  fill: none;
	stroke: #AFBABF;
	shape-rendering: crispEdges;
	}
.axis text {
	font-family:  SourceSansPro-Bold;
	font-size: 14px;
	fill: #AFBABF;
	}

.x.axis path {
  display: none;
}
.y.axis path{
  display: none;
  }

.line {
  fill: none;
  stroke: steelblue;
  stroke-linejoin: round;
  stroke-linecap:round;
}
	
.legend {
	font-family: SourceSansPro-Light;
	font-size: 10pt;
	margin-bottom:0px;
	fill: #231F20; 
	}	
.legend-off {
	font-family: SourceSansPro-Light;
	font-size: 10pt;
	margin-bottom:0px;
	fill: #231F20; 
	}
.legend-select {
	font-family: SourceSansPro-Bold;
	font-size: 10pt;
	margin-bottom:0px;
	fill: #231F20; 
	}
